<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/RDX89cgw1-w#t=83s" frameborder="0" allowfullscreen></iframe>
    {{ content }}
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try{
      var pageTracker = _gat._getTracker("UA-24062214-4");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
  </body>
</html>
